__pycache__
.vscode

data/programGeneratedData/*
!data/programGeneratedData/placeholder.txt
data/temporaryData/temp_BERT_Large/*
!data/temporaryData/temp_BERT_Large/placeholder.txt
data/temporaryData/temp_BERT_Tiny/*
!data/temporaryData/temp_BERT_Tiny/placeholder.txt
external/*
!external/placeholder.txt